$buttonSize: 30px;
$buttonColor: #191963;

.pagination{
    position: relative;
    margin: 0 auto;
    max-width: $maxWidth;
    display: grid;
    display  : flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    button{
        margin: 5px 5px;
        border: 1px solid $buttonColor;
        background-color: transparent;
        color: black;
        border-radius: 50%;
        width: $buttonSize;
        height: $buttonSize;
        transition: .5s all;
        cursor: pointer;
        &:hover,
        &.active{
            background-color: $buttonColor;
            border-color: white;
            color: white;
        }
    }
    .arrow{
        position: absolute;
        top: 50%;
        cursor: pointer;
        transform: translate(0%, -100%);
        &:before{
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
    }
    .arrow_prev{
        left: 0%;
        &:before{
            content: "<";
        }
    }
    .arrow_next{
        right: 0;
        &:before{
            content: ">";
        }
    }
}